extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse", "active") Browse
    nav_item("/addFiles", "active") Add Files
  .container
    div(class="jumbotron")
      h1= title
      .container
      p| Welcome to #{title}. We have a Collection of letter for you to browse.
       | We are based in !{place}.
      .container
          