extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Display Page", "dropdown_menu")
    +nav_item("/", "active") Home
  .container
    p !{file}
  .container    
        button(type='submit', onclick="/saveXML?file" + path, method-"get", class="btn").
          Save