extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("ECS Movies", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/list") Stock
  .container
    h1= title
    .container
    p| Welcome to #{title}. We have an excellent collection of videos in stock for you.
     | We are based in #{place}.
    .container
      form(action="/search", method="get")
        input(type="text", name="searchString")
        input(type="submit")