extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
  .container
    h1= title
    .container
    p| Welcome to #{title}. We have a Collection of letter for you to browse.
     | We are based in !{place}.
    .container
      p| String Search.
      form(action="/search", method="get")
        input(type="text", name="searchString")
        input(type="submit")   

    .container
      p| Markup Search.
      form(action="/search", method="get")
        input(type="text", name="searchMarkup")
        input(type="submit")  