extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("ECS Movies", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/list") Stock
  .container
    h1 Search page
    .container
      p You typed in #{content}.
