extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("/", "active") Home
    +nav_item("/browse", "active") Browse    
    +nav_item("/addFiles", "active") Add Files
  .container
    h1 Search results for #{searchMarkup}
    .container
      p !{numResults} results found
    .container
      each file in query
        li: a(href = "/displayFile?file=/" + file)
          !{file}